// Import CSS Variables
@import '../../../variables.scss';

.CompWikiWrap {
  padding: 0px 10px;

  h1, h2, h3, h4, h5, h6 {
    color: $headerColor;
  }

  p {
    margin-bottom:10px;
  }
  .propsTable {
    display:grid;
    grid-template-columns: 20% 40% 40%;

    div{
      border:0.5px solid $borderColor;
      padding:5px;

      p {
        margin: 0px;
      }
    }

    .colTitle {
      font-weight:700;
      color: $headerColor;
    }
  }
}
