// Import CSS Variables
@import '../../../variables.scss';

.CompWikiWrap {
  padding: 0px 10px;
  background-color:#30302F;

  h1, h2, h3, h4, h5, h6 {
    color: $docHeader;
  }

  p {
    color: $docText;
    font-family: $paraFont;
    margin-bottom:10px;
  }
  .propsTable {
    display:grid;
    grid-template-columns: 20% 40% 40%;
    border: 1px solid $docHeader;

    div{
      border:0.5px solid $borderColor;
      padding:5px;

      p {
        margin: 0px;
        font-family: $paraFont;
      }
    }

    .colTitle {
      font-weight:700;

      p {
        color: $docHeader;
        font-family: $headerFont;
        font-size:16px;
      }
    }

    code {
      color:$docHeader;
    }
  }
}
