// Import CSS Variables
@import 'variables.scss';

// Resets
body {
  margin: 0px;
  background-color:#121211;
}

// styles

// Font styles
h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
  text-transform:uppercase;
  margin:10px 0px 10px 0px;
}

h1 {
  color: $lGreen;
  font-size: 32px;
}

h2 {
  color: $lGreen;
  font-size: 30px;
}

h3 {
  color: $lGreen;
  font-size: 28px;
}

h4 {
  color: $lGreen;
  font-size: 26px;
}

h5 {
  color: $lGreen;
  font-size: 24px;
}

h6 {
  color: $lGreen;
  font-size: 22px;
}

p {
  color: #000;
  font-size: 14px;
  margin:0px;
}

a:link, a:visited {
  color: $lGreen;
  text-decoration:none;
}

a:hover, a:active {
  color: $lBlue;
}

// Default Element styles

ul {
  list-style: none;
  padding-left:0px;
  margin:0px;
}

header {
  border-bottom:1px solid $lGreen;
  padding:10px;
  width:100vw;

  h1 {
    margin:0px;
  }
}

main {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
  background-color: #fff;

  aside.mainSidebar {
    background-color:$dGrey;
    border-right:1px solid $lGreen;
    padding:10px;

    h2 {
      font-size:24px;
      margin-bottom:5px;
      text-decoration: underline;
      padding-bottom:5px;
    }

    h3 {
      font-size:20px;
      text-decoration: underline;
    }

    ul{
      margin-bottom:10px;

      li {
        font-family: $paraFont;
        margin-bottom:20px;
      }

      ul {
        margin-bottom:20px;
      }
    }
  }
}
