// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');


// Variable Declarationss
$borderColor: #232423;
$dGrey: #121211;
$headerColor: #171716;
$headerFont: 'Roboto Mono', monospace;
$lGreen: #6BFF2D;
$lBlue: #47B1FF;


/* Color Theme Swatches in Hex */
.Cyberpunk-1-hex { color: #121211; }
.Cyberpunk-2-hex { color: #171716; }
.Cyberpunk-3-hex { color: #232423; }
.Cyberpunk-4-hex { color: #30302F; }
.Cyberpunk-5-hex { color: #6BFF2D; }
